body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

main {
    background-color: pink;
    padding: 20px 40px;
    border-radius: 20px;
}

.img {
    display: flex;
    gap: 20%;
    justify-content: center;
}

img{
    width: 200px;
    border: solid 8px white;
    border-radius: 10px;
}

img:hover{
    border: solid 8px palevioletred;
    box-shadow: 0 8px 16px rgba(232,62,140,0.8);
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}